.headerContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 10em;
  padding: 1em;
  margin-right: 4em;
}

.logoAnchor {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.flag {
  width: 2em;
  margin: 1em;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
