.question {
  text-align: center;
  padding: 0 1em;
  font-weight: normal;
}

.answersContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
}

.nextPageBtn {
  padding-left: 3em;
  padding-right: 3em;
}

.expandable {
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  height: 0;
}
