.row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1em;
}

@media screen and (max-width: 425px) {
  .row {
    flex-direction: column;
    margin-bottom: 0;
  }

  .gameMenu {
    margin: 0 1em;
  }
}
